// .keyword {
//     margin-right: 0.5em;
//     padding: 1em;
// }

.keyword {
  //   display: inline;
  //   background: #eeeeee;
  //   padding: 2px 5px 2px 0;
  margin-right: 5px;
  //   line-height: 2;
  //   color: black;
  //   font-weight: 600;
  //   font-style: italic;
}

.doi {
  clear: both;
}

.skill {
  background: linear-gradient(0deg, rgba(220, 220, 220, 1) 0%, rgba(220, 220, 220, 1) 90%, rgba(255, 255, 255, 1) 90%);
}
