.keyword {
    display: inline;
    margin-right: 0.5em;
    padding: 1em;
}

.doi {
    clear: both;
}

.skill {
    background: linear-gradient(0deg, rgba(220, 220, 220, 1) 0%, rgba(220, 220, 220, 1) 90%, rgba(255, 255, 255, 1) 90%);
}
