body {
  padding-top: 3.375rem;
  color: #9e9e9e;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  line-height: 1;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

.social-icons .social-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #757575;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
  margin-right: 0;
}

.social-icons .social-icon:hover {
  background-color: #bd5d38;
}

.dev-icons {
  font-size: 3rem;
}

section.resume-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}

section.resume-section .resume-section-content {
  width: 100%;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}

@media (min-width: 768px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.project-card {
  position: relative;
  max-width: 24rem;
  border: none;
  -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
}

.project-card .card-block {
  position: relative;
  padding: 2rem;
}

.project-card .card-text {
  margin-bottom: 0;
}

.project-card .btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  padding: 0;
  width: 3rem;
  height: 3rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.project-card .btn .icon {
  width: 50%;
  height: 50%;
  margin-left: -10%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subheading {
  font-family: "Muli", sans-serif;
}

@media (max-width: 400px) {
  /*h1{*/
  /*    font-size:3rem !important;*/
  /*}*/
  /*h2{*/
  /*    font-size: 2rem !important;*/
  /*}*/
  html {
    font-size: 10px;
  }
}

.resume-section-item {
  padding: 0 0 3rem 2rem;
  border-left: 1px solid #343a40;
  position: relative;
}

.resume-section-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 11px;
  background: #fff;
  border: 2px solid #343a40;
}

.bg-primary {
  background-color: #343a40 !important;
}

.text-primary {
  color: #adb5bd !important;
}

a {
  color: #adb5bd;
}

.subheading {
  font-size: 1.5rem;
}

.typed {
  color: #adb5bd;
}

@media (min-width: 992px) {
  #sideNav .navbar-brand .img-profile {
    border: none;
  }
}

.resume-section-item h5 {
  font-size: 16px;
  background: #d2d2d2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin: 1rem 0;
}

.keyword {
  background: #343a40;
  padding: 2px 5px;
  line-height: 2;
  color: white;
}

.form-field .col-sm-10 {
  padding: 0;
}

li.skill {
  display: inline;
  padding: 10px 40px;
  border: 2px solid #343a40;
  margin-right: 10px;
  line-height: 2em;
  position: relative;
}

.skill svg {
  max-width: 40%;
  max-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  -webkit-transform: rotate(0deg) translate(-50%, -50%) !important;
  transform: rotate(0deg) translate(-50%, -50%) !important;
}

.skill svg {
  max-width: 80%;
  /*max-height: 150px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*height: 150px;*/
}

.social-icons .social-icon:hover {
  background-color: #a9a9a9;
}

a:hover {
  color: #8e8e8e;
  text-decoration: underline;
}
/*# sourceMappingURL=new.css.map */